application/logs/
application/cache/
application/config/backup

*.bak
*.csv
*.xls
*.xlsx
*.backup
*.backup.*

/nbproject/private/
/modules/about/
/modules/apb/
/modules/cfg/
/modules/dbsetting/
/modules/dev/
/modules/door/
/modules/email/
/modules/eventConfig/
/modules/events/
/modules/eximdata/
/modules/identifier/
/modules/parsec/
/modules/people/
/modules/setting/
