[submodule "events"]
	path = modules/events
	url = https://github.com/Lexer25/city_events.git
	branch = main
[submodule "about"]
	path = modules/about
	url = https://github.com/Lexer25/city_about.git
	branch = main
[submodule "apb"]
	path = modules/apb
	url = https://github.com/Lexer25/city_apb.git
	branch = main
[submodule "dbsetting"]
	path = modules/dbsetting
	url = https://github.com/Lexer25/city_dbsetting.git
	branch = main
[submodule "dev"]
	path = modules/dev
	url = https://github.com/Lexer25/city_dev.git
	branch = main
[submodule "door"]
	path = modules/door
	url = https://github.com/Lexer25/city_door.git
	branch = main
[submodule "eventConfig"]
	path = modules/eventConfig
	url = https://github.com/Lexer25/city_eventConfig.git
	branch = main
[submodule "eximdata"]
	path = modules/eximdata
	url = https://github.com/Lexer25/city_eximdata.git
	branch = main
[submodule "identifier"]
	path = modules/identifier
	url = https://github.com/Lexer25/city_identifier.git
	branch = main
[submodule "parsec"]
	path = modules/parsec
	url = https://github.com/Lexer25/city_parsec.git
	branch = main
[submodule "people"]
	path = modules/people
	url = https://github.com/Lexer25/city_people.git
	branch = main
[submodule "setting"]
	path = modules/setting
	url = https://github.com/Lexer25/city_setting.git
	branch = main
[submodule "modules/bas"]
	path = modules/bas
	url = https://github.com/Lexer25/city_bas.git
	branch = main
[submodule "modules/accessCategory"]
	path = modules/accessCategory
	url = https://github.com/Lexer25/city_accessCategory.git
	branch = main
[submodule "modules/timezone"]
	path = modules/timezone
	url = https://github.com/Lexer25/adm_timezone.git
[submodule "modules/holiday"]
	path = modules/holiday
	url = https://github.com/Lexer25/adm_holiday.git
[submodule "modules/ts"]
	path = modules/ts
	url = https://github.com/Lexer25/adm_ts.git
	branch = main
